@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
@font-face {
      font-family: 'Miama';
      src: url('Miama.ttf') format('truetype');}
.shape {
      font-family: 'Miama', cursive;
      font-style: italic;
}

/* font end */
.red{
    color: #E6533C;
}
.white{
    color: white;
}
.haf-white{
    color: rgb(255, 255, 255, 50%);
}
.bg-black{
    background-color: black;
    margin: 5%;
}

/* coler end */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-ul-li{
list-style: none;
}
.nav-a{
font-size: 1rem;
}
.nav-btn{
    background-color: #E6533C;
    border-radius: 40px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;
}
.nav-h4{
    font-style: italic;
}
.icon{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    background-color: white;
    display: none;
}
/* nav complite */
.header-sec{
    display: flex;
    margin-top: 5%;
    padding: 3%;
}
.header-h1{
    font-size: 3.8rem;
    margin-top: 10%;
}
.header-p{
    font-size: 1rem;
    margin-bottom: 10%;
}
.header-btn-2{
    border-radius: 40px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-color: aliceblue;
}
/* div right com */
.header-left-div{
    position: relative;
    width: 100%;
}
.header-left-div-img{
    display: block;
}
.circal{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #E6533C;
    background-color: #E6533C;
}
.header-left-div1{

  position: absolute;
  top: 90px;
  right: -50px;
  background: rgba(0, 0, 0, 50%);
  padding: 10px 16px;
  border-radius: 10px;
  text-align: center;
}
.header-left-div2{
    display: flex;
    align-items: center;
    gap: 2%;
    position: absolute;
    bottom: 50px;
    left: -10px;
    background-color: rgb(0, 0, 0, 50%);
    padding: 10px;
    border-radius: 8px;
}
.header-left-div-h{
    font-size: 2rem;
    margin: 1px;
}
.header-left-div-p{
    font-size: .8rem;
    margin: 1px;
}
/* hade end */
.section1-maindiv{
display: flex;
}
.section1-div-img{
    border-radius: 50%;
    text-align: center;
}
.section1-div-h{
  
     text-align: center;
}
.section1-div-p{
    font-size: .6rem;
    color: rgb(255, 255, 255, 50%);
    text-align: center;
}
.section1-h{
    text-align: center;
}
.section1-p{
    text-align: center;
    font-size: .9rem;
    color: rgb(255, 255, 255, 50%);
    margin-bottom: 15%;
}
/* sec1 com */
.sec2-div1-h{
font-size: 3rem;
}
.sec2-div1-p{
font-size: .9rem;
color: rgb(255, 255, 255, 50%);
}
.sec2-btn{
font-size: 1rem;
background-color: #E6533C;
padding: 10px 50px 10px 50px;
border-radius: 35px;
border: none;
margin-top: 4%;
color: white;
}
.section4-p{
    color: rgb(255, 255, 255,50%);
    font-size: .9rem;
}
.sec2-div2-img{
    width: 90%;
    height: 90%;
    border-radius: 15px;
}
.sec2{
    display: flex;
    gap: 10%;
    margin-top: 5%;
}
/* sec3 start */
.sec3{
    border: 2px solid rebeccapurple;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.sec3-div1{
   display: flex;
}
.sec3-div2{
display: flex;
}
.sec3-div1-img{
   display: flex;
   flex-direction: row;
}
.img1{
width: 25%;
}
.img2{    width: 50%;
}
.img3{
    width: 25%;
}
.img4{
    width: 40%;
}
.img5{
    width: 20%;
}
.img6{
    width: 40%;
}
/* sec4 */
.sec4{
    display: flex;
    gap: 10%;

}
.sec4-leftdiv{
    width: 90%;
}
.td{
    text-align: left;
    padding-right: 10px;
    padding-bottom: 5px;
}
.input{
    background-color: black;
    font-size: .9rem;
    color: rgb(255, 255, 255, 50%);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.from-up{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* sec-5 */
.sec5{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.sec5-div-img{
    width: 300px;
    height: 272px;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
}
.jj{
    margin-bottom: 10px;
}
.sec5-div-h{
margin: 0px;
}
.sec5-div-p{
    color: rgb(255, 255, 255, 50%);
    font-size: .9rem;
    margin: 0px;
}
.sec5-subdiv{
    margin-top: -50px;
    margin-left: 15px;
}
/* footer */
.f-sec{
    display: flex;
    gap: 20px;
    margin-top: 15%;
}
.f-h{
font-size: 3.5rem;
color: #E6533C;
font-style: italic;
}
.f-p{
font-size: .9rem;
color: rgb(255, 255, 255,50%);
}
.f-table{

}
.f-sec-div1{
    width: 50%;
}
.f-td{
  padding-right: 40px;
  padding: 10px;
  text-align: left;
  color: rgb(255, 255, 255,50%);
}
.f-th{
    padding-right: 40px;
  padding: 10px;
  text-align: left;
}
.f-tr{
}
.small{
    color: rgb(255, 255, 255,40%);
    text-align: center;
}
@media (min-width: 414px) and (max-width: 744px) {
    .header-sec{
    flex-direction: column;
    padding: 8%;


    }
.header-left-div{
    margin-top: 10%;
}
.header-btn-2{
    margin-left: 3%;
}
/* sec1 */
.section1-maindiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3%;
}
.sec2-div2-img{
    width: 90%;
    height: 100%;
}
.sec2{
    align-items: center;
}
/* sec3 start */
/* sec4 */
.sec4{
    flex-direction: column;
}
.sec4-leftdiv{
    margin-bottom: 8%;
}
/* sec5 */
.sec5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
/* footer */
.f-sec{
    flex-direction: column;
}
/* i pad end and phone start */

@media (min-width: 360px) and (max-width: 500px) {
    .icon{
        display: block;
    }
    .nav-ul{
        display: none;
    }
    .section1-maindiv{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    padding: 10px 50px 10px 50px;
    margin-left: 10%;
    margin-right: 10%;
}


.sec2{
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 2%;
}
.sec2{
    flex-direction: column;
}
.sec2-div2-img{
    margin-top: 10%;
}
.sec2-btn{
    padding-left: 37%;
    padding-right: 37%;
    text-align: center;
}
.sec2-div1-h{
margin-top: 20%;
}

/* sec 3 start  */
.sec3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
/* sec5 */
.sec5{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.sec5-div-img{
    align-items: center;
}


